@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
$mainFont:'Inter', sans-serif;
$purpledBlue: #484C7F;
$blackinBlue: #3A3D66;
$calamiBlue: #A491D3;
$mint: #5FBB97;